// style header

.header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #4876c3;
}

.header__inner {
  max-width: 1920px;
  width: 100%;
  min-height: 56px;
  display: flex;
  position: relative;
  padding: 0 20px;
  margin: 0 auto;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  box-sizing: border-box;

  @include respond-to(smally) {
    display: block;
    padding: 0;
    min-height: 120px;
  }
}

.header__left {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  max-width: 1090px;
  width: 100%;
  position: relative;
  align-items: center;

  @include respond-to(tablet) {
    max-width: 900px;
    width: 100%;
  }

  @include respond-to(smally) {
    display: block;
    height: 60px;
    position: relative;
    max-width: 100%;
  }
}

.header__right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-basis: 830px;
  flex-shrink: 4;

  @include respond-to(smally) {
    display: block;
    position: relative;
    max-width: 100%;
    padding: 15px 50px 0 50px;
  }
}

.header__right--right {
  display: flex;
  align-items: center;
  @include respond-to(smally) {
    justify-content: space-between;
  }
}

.header__logo {
  display: block;
  margin-top: 10px;
  width: 192px;
  height: auto;
  img {
    max-width: 100%;
  }
  @include respond-to(tablet) {
    width: 144px;
    height: auto;


    img {
      max-width: 100%;
    }
  }
  @include respond-to(smally) {
    width: 176px;
    height: auto;
    position: absolute;
    left: 60px;
    top: 10px;
  }

}

.header__nav-inner {
  display: flex;
  justify-content: flex-end;
  max-width: 870px;
  width: 100%;
  align-items: center;

  @include respond-to(notebook) {
    max-width: 720px;
    width: 100%;
  }


  @include respond-to(smally) {
    //display: block;
    max-width: 100%;
  }
}

.header__nav {
  display: flex;
  position: relative;
  align-items: center;

  max-width: 770px;
  width: 100%;
  @include respond-to(notebook) {
    max-width: 720px;
    width: 100%;
    justify-content:flex-end;
  }


  @include respond-to(smally) {
    display: block;
    position: relative;
    max-width: 100%;
  }
}

.header__links {
  list-style: none;
  padding: 0;
  margin: 0;

  @include respond-to(smally) {
    position: absolute;
    top: 119px;
    left: -2000px;
    background-color: #4876c3;
    z-index: 1;
    display: block;
    width: 100%;
    padding-left: 60px;
    box-sizing: border-box;
    border-top: 1px solid #FFF;
  }

  li {
    display: inline-block;
    @include respond-to(smally) {
      display: block;
    }

    a {
      display: block;
      position: relative;
      padding: 10px 10px 15px 10px;
      color: #ffffff;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 21px;
      text-decoration: none;

      @include respond-to(tablet) {
        font-size: 14px;
        padding: 15px 8px 15px 8px;
      }
      @include respond-to(smally) {
        padding: 15px 0 0 0;
      }
    }
  }

  li:nth-child(1) a {
    padding-left: 0;
  }

  li:nth-child(2) a {
    padding: 15px 24px 15px 14px;

    @include respond-to(tablet) {
      padding: 15px 10px 15px 5px;
    }

    @include respond-to(smally) {
      padding: 15px 0 0 0;
    }
  }

  li:last-child a {
    @include respond-to(smally) {
      padding: 15px 0 15px 0;
    }
  }
}

.popup__show {
  display: block;
  transform: translateX(2000px);
  transition: transform 0.3s;
}


.header__element-search {
  padding: 0 0 0 15px;

  @include respond-to(tablet) {
    padding: 0 10px 0 10px;
  }
  @include respond-to(smally) {
    display: block;
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 1;
  }
}

.header__element-add {
  padding: 0 15px 0 15px;
  display: block;

  @include respond-to(smally) {
    display: none;
  }
}

.header__element-mail {
  display: block;
  padding: 0 13px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #fff;
}

.header__element-not {
  display: block;
  padding: 0 13px;
}

.header__element-user {
  display: block;
  padding: 0 0 0 13px;
  span {
    display: block;
    width: 32px;
    height: 32px;
  }
}

.sandwich-menu {
  display: none;

  @include respond-to(smally) {
    display: block;
    position: absolute;
    top: 5px;
    left: 12px;
    cursor: pointer;
    padding: 10px;
  }
}

.header__nav-search {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 770px;

  @include respond-to(notebook) {
    max-width: 720px;
    width: 100%;
    justify-content: flex-end;

  }
  @include respond-to(smally) {
    display: block;
    max-width: 100%;
    width: 100%;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: 1;
  }
}

.header-form {
  display: flex;
  flex-wrap: nowrap;
  margin: 0;
  max-width: 780px;
  width: 100%;
  position: relative;

  @include respond-to(tablet) {
    max-width: 570px;
    width: 100%;
  }

  @include respond-to(smally) {
    max-width: 100%;
    width: calc(100% - 20px);
    position: absolute;
    top: -50px;
    left: 10px;
  }
}
.input-decor{
  display: flex;
  width: 35px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;

}
.header-input {
  width: 640px;
  height: 40px;
  border: none;
  color: #111111;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  padding: 0 0 0 5px;
  &:focus {
    outline: none;
    border: none;
  }
}

.header-reset {
  height: 40px;
  background-color: white;
  border: none;
  cursor: pointer;
  outline: none;

  &:focus {
    outline: none;
    border: none;
  }

  span {
    display: block;
  }
}

.material-icons--reset{
  color: #444f62;
  font-size:20px;
}
.material-icons--decor{
  color: #dadada;
}
.material-icons--triangle{
  vertical-align: bottom;
  //font-size: 15px;
}

.header-submit {
  height: 40px;
  padding: 0 10px;
  background-color: #ffc120;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  &:focus {
    outline: none;
    border: none;
  }
}

.filters {
  width: 423px;
  height: 162px;
  position: absolute;
  top: 45px;
  left: 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 400;
  @include respond-to(smally) {
    top: 0;
    left: 10px;
    width: calc(100% - 20px);
    height: 252px;
  }
}

.filters-third-line {
  display: flex;
  justify-content: space-around;
  @include respond-to(smally) {
    flex-direction: column;
  }
}

.filters-first-line {
  display: flex;
  align-items: center;
  padding-bottom: 15px;

  input[type="text"] {
    width: 313px;
    height: 30px;
    border: 1px solid #c4ced5;
    background-color: #ffffff;
    border-radius: 4px;
    @include respond-to(smally) {
      width: 280px;
    }
  }
}

.filters-second-line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
  select {
    padding: 12px;
    border: 1px solid #dadada;
    background-color: #f2f2f2;
    border-radius: 4px;
    margin-left: 27px;
  }
}

.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.checkbox:not(checked) + .checkbox__label {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 25px;
  @include respond-to(smally) {
    margin-bottom: 25px;
  }
}

.checkbox:not(checked) + .checkbox__label--first {
  @include respond-to(smally) {
    margin-bottom: 0;

  }
}

.checkbox:not(checked) + .checkbox__label:before {
  content: '';
  position: absolute;
  left: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #dadada;
  border-radius: 3px;
}

.checkbox + .checkbox__label {
  cursor: pointer;
}

.checkbox__label {
  padding-left: 30px;
}

.checkbox:checked + .checkbox__label:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  left: 1px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url(../img/check.png);
}

.checkbox:checked + .checkbox__label--first:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 1px;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-image: url(../img/check.png);
}

.result {
  padding-top: 250px;
  color: #4876c3;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}














